.rating {
    display: flex;
    direction: row-reverse;
    font-size: 30px;
    color: #ccc;
    cursor: pointer;
  }

  .rating input {
    display: none;
  }

  .rating label {
    padding: 5px;
  }

  .rating input:checked ~ label {
    color: gold;
  }

  .rating input:checked + label {
    color: gold;
  }

  .rating input:checked ~ input:checked ~ label {
    color: gold;
  }
  